<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}][%level][%t]:} %msg{nolookups}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>
